.product-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  min-height: 356px;
}

.product-list__item {
  list-style: none;
  flex: 1 32%;
  padding: 2%;
  flex-grow: 1;
}
